.img-circle {
  height: 140px;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
section {
  height: 600px;
  padding-top: 100px;
}
jumbotron {
  background: url("https://static.pexels.com/photos/53153/full-moon-moon-night-sky-53153.jpeg");
}
